<script lang="ts">
  import '../app.css';
  import 'wired-elements';
  import Footer from '../components/Footer.svelte';
</script>

<div class="app h-full bg-[url('/background.jpg')] bg-cover grid grid-rows-[1fr_auto]">
  <main class="flex flex-col items-center">
    <slot />
  </main>
  <Footer />
</div>
