<script lang="ts">
  import { goto } from '$app/navigation';
  import Button from '../components/Button.svelte';
  import { connectionInfo, game, initialGameState } from '../stores';
  import { PeerStateSynchronizer } from '$lib/PeerStateSynchronizer';
  import type { GameState } from '../GameState';

  const hostGameAndRedirect = async (): Promise<void> => {
    const stateSyncer = new PeerStateSynchronizer<GameState>({
      ...initialGameState,
    });
    $connectionInfo.stateSyncer = stateSyncer;
    const hostId = await stateSyncer.host();
    stateSyncer.updateState({ ...$game.state, hostId });
    goto(`/play/${hostId}`);
  };
</script>

<div class="h-full flex flex-col items-center justify-center">
  <img
    src="logo.png"
    alt="The 'Super Shamrock' logo"
    class="px-8 pt-8 -rotate-12 hover:-rotate-6 hover:scale-105 active:rotate-180 active:scale-125 transition w-128 z-10"
  />

  <Button
    class="text-3xl sm:text-5xl mx-8"
    variant="primary"
    onClick={hostGameAndRedirect}
    autofocus
  >
    Start a new game
  </Button>
  <wired-link
    class="twisty text-xl"
    href="https://youtu.be/SbnYbqztiJY?si=aJQYRE-0oJERrlj0"
    target="_blank">Learn how to play</wired-link
  >
</div>
