<script lang="ts">
  import { page } from '$app/stores';
  import { connectionInfo, game, initialGameState } from '../../../stores';
  import { PeerStateSynchronizer } from '$lib/PeerStateSynchronizer';
  import type { GameState } from '../../../GameState';

  import NewPlayerDialog from '../../../components/NewPlayerDialog.svelte';
  import PlayerList from '../../../components/PlayerList.svelte';
  import Board from '../../../components/Board.svelte';
  import ConnectionErrorDialog from '../../../components/ConnectionErrorDialog.svelte';

  let connectionPromise: Promise<string> = Promise.resolve('');

  // Only show a spinner if this is taking longer than a second
  let showSpinnerTimer = false;
  setTimeout(() => {
    showSpinnerTimer = true;
  }, 1000);

  if (!$connectionInfo.stateSyncer) {
    // We are not the host

    const { hostId } = $page.params;
    const stateSyncer = new PeerStateSynchronizer<GameState>(initialGameState);
    $connectionInfo.stateSyncer = stateSyncer;
    connectionPromise = stateSyncer.connectToHost(hostId);

    connectionPromise.catch((err) => {
      console.log('here!', err);
      throw err;
    });
  }

  $: open = true;

  $: $game.state && console.log($game.state);
</script>

{#await connectionPromise}
  {#if showSpinnerTimer}
    <div class="h-full flex flex-col justify-center">
      <wired-spinner spinning />
    </div>
  {/if}
{:then}
  <NewPlayerDialog bind:open />
  {#if !open}
    <PlayerList />
    <Board />
  {/if}
{:catch}
  <ConnectionErrorDialog />
{/await}
