<script lang="ts">
  import { createAvatar } from '@dicebear/core';
  import { funEmoji } from '@dicebear/collection';

  export let seed: number;
  export let name: string;
  export let size: 'small' | 'large';

  $: avatarDataURI = createAvatar(funEmoji, {
    seed: seed.toString(),
    size: size === 'large' ? 128 : 48,
    radius: 20,
  }).toDataUriSync();
</script>

<img class="mx-2 drop-shadow-lg" src={avatarDataURI} alt={`Avatar for ${name}`} title={name} />
