<script context="module" lang="ts">
  export type CardTablePosition = 'table1' | 'table2' | 'table3' | 'table4' | 'table5';

  export type CardBoardPosition =
    | 'boardTopLeft'
    | 'boardTopRight'
    | 'boardBottomLeft'
    | 'boardBottomRight';

  export type CardPosition = CardTablePosition | CardBoardPosition;

  export type Card = {
    id: number;
    words: [string, string, string, string];
  };

  export type BoardInputPosition = 'top' | 'right' | 'bottom' | 'left';
</script>

<script lang="ts">
  import { words } from './words';
  import BoardInput from './BoardInput.svelte';
  import CardDropZone from './CardDropZone.svelte';
  import { computeBoardAndCardLayout } from './helpers/computeBoardAndCardLayout';

  const getRandomCard = (): Card => {
    const randomIndex = Math.floor(Math.random() * words.length);

    return {
      id: randomIndex,
      words: words[randomIndex],
    };
  };

  const cards: { [key in CardPosition]: Card[] } = {
    table1: [getRandomCard()],
    table2: [getRandomCard()],
    table3: [getRandomCard()],
    table4: [getRandomCard()],
    table5: [],
    boardTopLeft: [getRandomCard()],
    boardTopRight: [],
    boardBottomLeft: [],
    boardBottomRight: [],
  };

  const boardPositions: CardBoardPosition[] = [
    'boardTopLeft',
    'boardTopRight',
    'boardBottomLeft',
    'boardBottomRight',
  ];

  const tablePositions: CardTablePosition[] = ['table1', 'table2', 'table3', 'table4', 'table5'];
  const boardInputPositions: BoardInputPosition[] = ['top', 'right', 'bottom', 'left'];

  let layout = computeBoardAndCardLayout();

  window.addEventListener(
    'resize',
    () => {
      layout = computeBoardAndCardLayout();
    },
    true,
  );

  const indexToRotation = (index: number) => ([0, 90, 180, -90] as const)[index];
</script>

<div class="p-4 w-full h-full">
  <img
    id="game-board-image"
    src="/game_board.png"
    alt="The game board"
    class="absolute aspect-square"
    style={layout.boardLayout}
  />

  {#each boardPositions as position}
    <CardDropZone
      class="absolute aspect-square block"
      style={layout.cardLayouts[position]}
      source={cards[position]}
      {position}
    />
  {/each}

  {#each tablePositions as position}
    <CardDropZone
      class="absolute aspect-square block border-dashed border-gray-800 border-2 rounded-3xl p-2"
      style={layout.cardLayouts[position]}
      source={cards[position]}
      {position}
    />
  {/each}

  {#each boardInputPositions as position, index}
    <BoardInput
      class="absolute thinner:invisible"
      style={layout.boardInputLayous[position]}
      placeholder="Your word"
      rotation={indexToRotation(index)}
    />
  {/each}
</div>
