<script lang="ts">
  let clazz = '';
  export { clazz as class };
  export let style: string;
  export let placeholder: string = '';
  export let rotation: -90 | 0 | 90 | 180;

  // Some hacks to alter the styles inside the shadom DOM
  // as well as apply rotations after Rough JS has finished rendering
  const init = (el: HTMLElement) => {
    setTimeout(() => {
      const input = el.shadowRoot?.querySelector('input');

      if (!input) {
        return;
      }

      input.style.background = 'transparent';
      input.style.textAlign = 'center';
      input.style.textTransform = 'uppercase';

      if (rotation === -90) {
        el.classList.add('-rotate-90');
      } else if (rotation === 90) {
        el.classList.add('rotate-90');
      } else if (rotation === 180) {
        el.classList.add('rotate-180');
      }

      el.classList.remove('invisible');
    }, 10);
  };
</script>

<wired-input use:init class={`invisible ${clazz}`} {style} {placeholder} />
