<script lang="ts">
  export let onClick: () => Promise<void> | void;
  export let variant: 'primary' | 'default' = 'default';
  export let autofocus = false;
  export let disabled: boolean = false;
  export let id: string = '';

  let clazz = '';
  export { clazz as class };

  let loading = false;
  const handleOnClick = () => {
    if (disabled || loading) {
      return;
    }

    const ret = onClick();

    if (ret instanceof Promise) {
      loading = true;
      ret.finally(() => {
        loading = false;
      });
    }
  };
</script>

<!-- svelte-ignore a11y-no-static-element-interactions -->
<!-- svelte-ignore a11y-click-events-have-key-events -->
<!-- svelte-ignore a11y-autofocus -->
<wired-button
  on:click={handleOnClick}
  {id}
  class={`btn ${clazz}`}
  class:btn-primary={variant === 'primary'}
  class:btn-default={variant === 'default'}
  class:disabled={disabled || loading}
  disabled={disabled || loading}
  {autofocus}
>
  <span class:invisible={loading}><slot></slot></span>
  <div
    class:invisible={!loading}
    class:visible={loading}
    class="absolute inset-0 grid grid-rows-1 justify-center items-center"
  >
    <wired-spinner spinning />
  </div>
</wired-button>
