<script lang="ts">
  import type { CardPosition, CardBoardPosition } from './Board.svelte';

  export let words: [string, string, string, string];
  export let rotations: number;
  export let position: CardPosition;
  export let enableRotation: boolean;

  $: rotationStyle = `transform: rotate(${rotations * 90}deg)`;

  const rotateLeft = () => {
    rotations--;
  };

  const rotateRight = () => {
    rotations++;
  };

  const getButtonContainerClasses = (position: CardBoardPosition): string => {
    return {
      boardTopLeft: '-top-10 -left-10',
      boardTopRight: 'bottom-0 left-0',
      boardBottomLeft: 'top-0 right-0',
      boardBottomRight: 'top-0 left-0',
    }[position];
  };

  const sharedButtonClasses =
    'absolute opacity-50 hover:opacity-80 active:opacity-100 invisible group-hover:visible no-hover:visible';

  const getLeftButtonClasses = (position: CardBoardPosition): string => {
    return (
      {
        boardTopLeft: 'rotate-180 top-10',
        boardTopRight: '-rotate-90 right-10',
        boardBottomLeft: 'rotate-90 left-10 bottom-0',
        boardBottomRight: 'right-0 bottom-10',
      }[position] + ` ${sharedButtonClasses}`
    );
  };

  const getRightButtonClasses = (position: CardBoardPosition): string => {
    return (
      {
        boardTopLeft: '-rotate-90 left-10',
        boardTopRight: 'top-10 right-0',
        boardBottomLeft: 'rotate-180 bottom-10',
        boardBottomRight: 'bottom-0 right-10 rotate-90',
      }[position] + ` ${sharedButtonClasses}`
    );
  };

  const boardPositions: CardBoardPosition[] = [
    'boardTopLeft',
    'boardTopRight',
    'boardBottomLeft',
    'boardBottomRight',
  ];
</script>

<div class="card">
  <div class="relative">
    <img
      src="/card_front.png"
      class="transition-transform rounded-[2vh] thinner:rounded-[2.8vw]"
      alt="A card showing its front face"
      style={rotationStyle}
    />
    <div
      class="absolute top-0 h-full w-full pointer-events-none font-card text-gray-800 text-sm sm:text-lg transition-transform"
      style={rotationStyle}
    >
      <div class="absolute top-0 w-full text-center sm:mt-2">{words[0]}</div>
      <div class="absolute right-0 w-full h-full text-center rotate-90 sm:mr-2">{words[1]}</div>
      <div class="absolute bottom-0 w-full text-center rotate-180 sm:mb-2">{words[2]}</div>
      <div class="absolute left-0 w-full h-full text-center -rotate-90 sm:ml-2">{words[3]}</div>
    </div>
    {#each boardPositions as boardPosition}
      {#if enableRotation && position === boardPosition}
        <div
          class={`group absolute w-[calc(100%+2.5rem)] h-[calc(100%+2.5rem)] ${getButtonContainerClasses(position)}`}
        >
          <button on:click={rotateLeft} class={getLeftButtonClasses(position)}>
            <img src="/turn-up-solid.svg" width="20" alt="Rotate left" />
          </button>
          <button on:click={rotateRight} class={getRightButtonClasses(position)}>
            <img src="/turn-down-solid.svg" width="20" alt="Rotate right" />
          </button>
        </div>
      {/if}
    {/each}
  </div>
</div>
