<script lang="ts">
  import { dndzone, type DndEvent } from 'svelte-dnd-action';
  import type { Card as CardModel, CardPosition } from './Board.svelte';
  import { flip } from 'svelte/animate';
  import Card from './Card.svelte';

  export let position: CardPosition;
  export let source: CardModel[];
  let clazz = '';
  export { clazz as class };
  export let style: string = '';

  const flipDurationMs = 100;

  const dndHandler = (e: CustomEvent<DndEvent<CardModel>>) => {
    source = e.detail.items;
  };

  $: dndOptions = {
    dropTargetStyle: {},
    dropFromOthersDisabled: Boolean(source.length),
    transformDraggedElement: (draggedEl: HTMLElement | undefined) => {
      draggedEl?.classList.add('drop-shadow-2xl', 'dragging');
      draggedEl?.querySelector('.rotate-button-container')?.remove();
    },
    flipDurationMs,
    morphDisabled: false,
  };
</script>

<div
  use:dndzone={{ items: source, ...dndOptions }}
  on:consider={dndHandler}
  on:finalize={dndHandler}
  class={clazz}
  {style}
>
  {#each source as card (card.id)}
    <div animate:flip={{ duration: flipDurationMs }}>
      <Card words={card.words} rotations={0} {position} enableRotation={true} />
    </div>
  {/each}
</div>
