<script lang="ts">
  import Button from './Button.svelte';
  import { goto } from '$app/navigation';

  const onClick = () => {
    goto(`/`);
  };
</script>

<wired-dialog open={true}>
  <div class="p-2 flex flex-col items-center">
    <h1 class="text-center text-2xl pb-4">Fiddlesticks!</h1>
    <p class="pb-8">Something went wrong while trying to join that game.</p>
    <Button variant="primary" {onClick}>Go back</Button>
  </div>
</wired-dialog>
