<script lang="ts">
  import moment from 'moment';
  import {
    PUBLIC_CI_PIPELINE_CREATED_AT as ciPipelineCreatedAt,
    PUBLIC_CI_COMMIT_SHORT_SHA as ciCommitShortSHA,
    PUBLIC_CI_PROJECT_URL as ciProjectUrl,
  } from '$env/static/public';
  import Button from './Button.svelte';

  const formatString = 'Y-MM-DD \\a\\t HH:mm:ss ZZ';

  const buildMoment = moment(ciPipelineCreatedAt);
  const deployedTimestamp = buildMoment.format(formatString);
  const deployedAgo = buildMoment.fromNow();
  const commitLink = `${ciProjectUrl}/commit/${ciCommitShortSHA}`;
  let dialogOpen = false;

  // workaround for a Wired.js bug - components don't render
  // unless actually visible in the UI
  let renderWiredStuff = false;
  let renderWiredStuffTimer: number = -1;

  const closeDialog = () => {
    dialogOpen = false;
    renderWiredStuffTimer = setTimeout(() => {
      renderWiredStuff = false;
    }, 1000);
  };

  const openDialog = () => {
    clearTimeout(renderWiredStuffTimer);
    dialogOpen = true;
    renderWiredStuff = true;
  };

  const onDialogKeydown = (e: KeyboardEvent) => {
    if (e.key === 'Escape') {
      closeDialog();
    }
  };
</script>

<footer class="flex justify-center pb-1">
  <!-- svelte-ignore a11y-click-events-have-key-events -->
  <!-- svelte-ignore a11y-no-static-element-interactions -->
  <wired-link class="twisty" on:click={openDialog}>about this site</wired-link>
  <!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
  <wired-dialog open={dialogOpen} on:keydown={onDialogKeydown} role="dialog">
    {#if renderWiredStuff}
      <div class="p-4 flex flex-col items-center gap-2">
        <h2 class="text-xl">About this site</h2>

        <wired-divider class="text-gray-300" />

        <p>
          Built by <wired-link target="_blank" href="https://nathanfriend.io"
            >Nathan Friend</wired-link
          >
        </p>

        <p class="text-center">
          Last deployed on {deployedTimestamp}
          ({deployedAgo}) for commit
          <wired-link class="text-cyan-800" href={commitLink} target="_blank">
            {ciCommitShortSHA}
          </wired-link>
        </p>

        <wired-link href="https://gitlab.com/nfriend/super-shamrock" target="_blank">
          View the source on GitLab
        </wired-link>

        <a
          href="https://gitlab.com/nfriend/super-shamrock/pipelines/latest"
          class="mt-2"
          target="_blank"
        >
          <img
            class="max-w-min"
            src="https://gitlab.com/nfriend/super-shamrock/badges/main/pipeline.svg"
            alt="GitLab build status"
          />
        </a>

        <Button autofocus class="mt-8" onClick={closeDialog} variant="primary">Close</Button>
      </div>
    {/if}
  </wired-dialog>
</footer>
