<script lang="ts">
  import { game } from '../stores';
  import Avatar from './Avatar.svelte';

  $: players = $game.state.players;
</script>

<div class="flex flex-row items-center m-4">
  {#each players as player}
    <Avatar seed={player.avatarSeed} name={player.name} size="small" />
  {/each}
</div>
