@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* gloria-hallelujah-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/gloria-hallelujah-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @font-face {
    font-display: swap;
    font-family: 'Hamberger Bold';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Hamberger-Bold.ttf') format('truetype');
  }

  html,
  body {
    @apply m-0 p-0 min-w-full w-full max-w-full min-h-full h-full max-h-full bg-repeat font-handwriting;
  }

  input,
  textarea,
  wired-input,
  wired-textarea {
    font-family: inherit;
    font-size: inherit;
  }

  wired-input input {
    background: invisible;
  }
}

@layer components {
  .twisty {
    @apply hover:-rotate-1 active:rotate-2 transition duration-100;
  }

  .btn {
    @apply twisty;

    &.disabled {
      @apply transition-none cursor-wait rotate-0;
    }
  }

  .btn-default {
    &.disabled {
      @apply bg-gray-800 bg-opacity-10;
    }
  }

  .btn-primary {
    @apply text-white bg-green-600;

    &.disabled {
      @apply bg-green-700;
    }
  }
}
